/*RESETS*/
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("http://fonts.googleapis.com/css?family=Lato:400,700");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
.button {
  @include border-radius(5px);
}

.submit-button {
  @include border-top-radius(10px);
  @include border-right-radius(8px);
  @include border-bottom-radius(10px);
  @include border-left-radius (6px);
}
*/
/* Usage -- 

.abs {
  @include abs-pos(10px, 10px, 5px, 15px);
}

*/
/* Usage --
body {
  @include font-size(16);
}
*/
/* Usage ---
body {
  @include line-height (16);
}
*/
.row {
  width: 102%;
  margin-left: -1%;
  margin-right: 1%;
  overflow: hidden;
}

html, body {
  height: 100%;
}

.clearfix {
  clear: both;
}

body {
  padding: 0;
  margin: 0;
  background: #fff6cb;
  font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  line-height: 14px;
}

#main-container {
  width: 100%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}
#main-container #header-wrapper {
  width: inherit;
  display: block;
  background: #5b2f14;
}
#main-container #header-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  overflow: auto;
}
#main-container #header-container #logo {
  float: left;
  width: 200px;
  text-align: center;
}
#main-container #header-container #logo > p a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 34px;
  line-height: 30px;
}
#main-container #header-container nav {
  float: left;
  margin-left: 20px;
}
#main-container #header-container ul#header-navbar {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 25px;
}
#main-container #header-container ul#header-navbar > li {
  display: inline-block;
  margin-right: 10px;
}
#main-container #header-container ul#header-navbar > li > a {
  text-decoration: none;
  padding: 5px 10px;
  color: #e9ab5e;
  text-transform: uppercase;
}
#main-container #header-container ul#header-navbar > li > a:hover, #main-container #header-container ul#header-navbar > li > a:focus {
  color: #fff;
}
#main-container #header-container ul#header-navbar > li.active a {
  color: #fff;
}

#footer-wrapper {
  width: 100%;
  background: #e9ab5e;
}

#footer-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}
#footer-container ul#footer-navbar {
  padding: 0;
  margin: 0;
  list-style: none;
}
#footer-container ul#footer-navbar > li {
  list-style: none;
  display: block;
  margin-bottom: 14px;
}
#footer-container ul#footer-navbar > li > a {
  text-decoration: none;
  text-transform: uppercase;
  color: #1d1d1d;
  padding: 5px 10px;
}
#footer-container ul#footer-navbar > li > a:hover, #footer-container ul#footer-navbar > li > a:focus {
  color: #fff;
}
#footer-container ul#footer-navbar > li.active a {
  color: #fff;
}

#content-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid red;
  overflow: hidden;
}

#diva {
  width: 64.66667%;
  min-height: 200px;
  float: right;
  margin-right: 1%;
  margin-left: 1%;
  height: 400px;
  background: #FB6740;
  right: 16.66667%;
  position: relative;
}
@media only screen and (max-width: 768px) {
  #diva {
    left: 0;
    width: 64.66667%;
    min-height: 200px;
    float: left;
    margin-right: 1%;
    margin-left: 1%;
  }
}

#divb {
  width: 14.66667%;
  min-height: 200px;
  float: left;
  margin-right: 1%;
  margin-left: 1%;
  background: #FDE6D3;
}
@media only screen and (max-width: 768px) {
  #divb {
    left: 0;
    width: 31.33333%;
    min-height: 200px;
    float: left;
    margin-right: 1%;
    margin-left: 1%;
  }
}

#divc {
  width: 14.66667%;
  min-height: 200px;
  float: left;
  margin-right: 1%;
  margin-left: 1%;
  background: #A5E2A4;
  right: -66.66667%;
  position: relative;
}
@media only screen and (max-width: 768px) {
  #divc {
    left: 0;
    height: 400px;
    width: 31.33333%;
    min-height: 200px;
    float: right;
    margin-right: 1%;
    margin-left: 1%;
  }
}

#divd {
  width: 14.66667%;
  min-height: 200px;
  float: left;
  margin-right: 1%;
  margin-left: 1%;
  background: #66D865;
}
@media only screen and (max-width: 768px) {
  #divd {
    left: 0;
    width: 64.66667%;
    min-height: 200px;
    float: left;
    margin-right: 1%;
    margin-left: 1%;
  }
}

#dive {
  width: 14.66667%;
  min-height: 200px;
  float: left;
  margin-right: 1%;
  margin-left: 1%;
  background: #CA88FC;
  right: -66.66667%;
  position: relative;
}
@media only screen and (max-width: 768px) {
  #dive {
    height: 400px;
    clear: both;
    width: 98%;
    min-height: 200px;
    float: left;
    margin-right: 1%;
    margin-left: 1%;
    left: 0;
    float: none;
  }
}

/* Mobile Viewport*/
@media only screen and (max-width: 480px) {
  #diva, #divb, #divc, #divd, #dive {
    width: 98%;
    min-height: 200px;
    float: left;
    margin-right: 1%;
    margin-left: 1%;
    left: 0;
    float: none;
  }
}

#divf {
  background: red;
  width: 48%;
  min-height: 200px;
  float: left;
  margin-right: 1%;
  margin-left: 1%;
}
@media only screen and (max-width: 1000px) {
  #divf {
    background: orange;
    content: "Medium Viewport";
    width: 64.66667%;
    min-height: 200px;
    float: left;
    margin-right: 1%;
    margin-left: 1%;
  }
}
@media only screen and (max-width: 768px) {
  #divf {
    background: blue;
    content: "Tablet Viewport";
    width: 81.33333%;
    min-height: 200px;
    float: left;
    margin-right: 1%;
    margin-left: 1%;
  }
}
@media only screen and (max-width: 480px) {
  #divf {
    background: gray;
    content: "Mobile Viewport";
    width: 98%;
    min-height: 200px;
    float: left;
    margin-right: 1%;
    margin-left: 1%;
    left: 0;
    float: none;
  }
}

.product {
  width: 31.33333%;
  min-height: 200px;
  float: left;
  margin-right: 1%;
  margin-left: 1%;
  background: #BF352D;
  margin-bottom: 1%;
  margin-top: 1%;
  height: 319px;
}
@media only screen and (max-width: 480px) {
  .product {
    width: 48%;
    min-height: 200px;
    float: left;
    margin-right: 1%;
    margin-left: 1%;
  }
}
