$mobile : 480px;
$tablet :768px;
$desktop : 1000px;

$breakpoint : 100%;
$columns : 12;
$gutter:3%;
$fullwidth:$desktop;  


$push:false;
$pull:false;


$one-col : 100% / $columns  ;



@mixin column($col,$light:true,$float:left){
  @if $light == true {
   //@include light; 
  }
  
  //width:$col * $col-width;
  width:($col * $one-col ) - $gutter;
  min-height:$div-height;
  float:$float;

  margin-right: $gutter / 2;
  margin-left: $gutter / 2;
}


@mixin light {
  background-color: gray;
  background-color: rgba(86,61,124,.15);
}



.row{
  width:100% + $gutter;
  margin-left: -($gutter / 2);
  margin-right: ($gutter / 2);
  overflow:hidden;
}


@mixin pull-left($col){
  right: ($col * $one-col )   ;
  position:relative;
}

@mixin pull-right($col){
  right:-($col * $one-col);
  position:relative;
}

@mixin pull-none{
  left:0;
}


@mixin clear($clear){
  clear:$clear;
}

@mixin respond-to($breakpoint,$col,$float:left) {

    @media only screen and (max-width: $breakpoint) { 

      @content;
      @include column($col,true,$float); 

      //If column width to 100% then
      @if $col == $columns{

        left:0;
        float:none;
      }


    }
}