@if $pull == true {
  @for $i from 0 through $columns{
    .pull-right-#{$i}{
      left: $i * $col-width;
      position:relative;
    }
  }
}

@if $push == true {
  @for $i from 0 through $columns{
    .pull-left-#{$i}{
      left: -($i * $col-width);
      position:relative;
    }
    
  }
}


@mixin light {
  background-color: gray;
  background-color: rgba(86,61,124,.15);
}


@function calculateWidth($cols, $margin) {
    @return ((100% - (($cols - 1)*$margin)) / $cols)
}

@mixin column($col,$light:true,$float:left){
  @if $light == true {
   @include light; 
  }
  
  width:$col * $col-width;
  min-height:$div-height;
  float:$float;
 }

@mixin pull-left($col){
  right: $col * $col-width;
  position:relative;
}

@mixin pull-right($col){
  right: -($col * $col-width);
  position:relative;
}

@mixin pull-none{
  left:0;
}


@mixin clear($clear){
  clear:$clear;
}

@mixin respond-to($breakpoint,$col,$float:left) {

    @media only screen and (max-width: $breakpoint) { 

      @content;
      @include column($col,true,$float); 

      //If column width to 100% then
      @if $col == $columns{

        left:0;
        float:none;
      }


    }
}