@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("http://fonts.googleapis.com/css?family=Lato:400,700");

$header-bg-color : #5B2F14; // Dark Brown
$body-bg-color: #FFF6CB;    // Cream  
$footer-bg-color:#E9AB5E;   // light coffee
$heading-font-color : #E9AB5E;    //
$body-font-color:#1D1D1D;   // charcoal black
$link-color :#FF770B; // dark orange

$mobile : 480px;
$tablet :768px;
$desktop : 1000px;

$font-family : "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$header-height:100px;

$div-height: 200px !default;

$breakpoint : 100%;
$columns : 12;
$push:false;
$pull:false;
$gutter:1.5%;

$col-width : $breakpoint / $columns;

$default-width:1024px;

