@import "normalize";
@import "variable";
@import "mixins";
@import "grid";


html,body{
  height:100%;
}

.clearfix{
  clear:both;
}

body{
 @include reset;
 
 background:$body-bg-color;
 font : {
    family : $font-family;
    size:14px;

 }
 line-height:14px;
}



#main-container {
  width : 100%;
  min-height: 100%;
  height: auto !important;
  height: 100%;

  #header-wrapper{
    
    width:inherit;
    display:block;
    background : $header-bg-color;
   } 


   #header-container{

      max-width:$desktop;
      margin:0 auto;
      padding:20px;
      overflow:auto;

      #logo {
        float:left;
        width:200px;
        text-align:center;
      }

      #logo >p a{
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        font-size:34px;
        line-height:30px;
      }

      nav{
          float: left;
          margin-left: 20px;
      }

      ul#header-navbar{
        @include reset;
        list-style:none;
        margin-top:25px;
        
        >li{
            display:inline-block;
            margin-right:10px;

          >a{
            text-decoration :none;
            padding:5px 10px;
            color:$heading-font-color;
            text-transform : uppercase;
            
            &:hover,&:focus{
              color:#fff;
            }


          }

          &.active a{

              color:#fff;
            }
        }
      }
  }
}



#footer-wrapper{
  width:100%;

  background:$footer-bg-color;

}


#footer-container{
  max-width:$desktop;
  margin:0 auto;
  padding:20px;

 
  ul#footer-navbar{
    @include reset;
    list-style:none;
       
    >li{
      list-style:none;
      display:block;
      margin-bottom:14px;

      >a {
        text-decoration:none;
        text-transform:uppercase;
        color:$body-font-color;
        padding:5px 10px;

         &:hover,&:focus{
              color:#fff;
            }

      }

      &.active a{
        color:#fff;
      }
    }
  }

}





#content-wrapper{
  max-width:$desktop; 
  margin:0 auto;
  border: 1px solid red;
  overflow: hidden;
}



#diva{
  @include column(6,true,right);
  height:400px;
  @include pull-left(3);


  @include respond-to($tablet,8){

    @include pull-none;
  }
}

#divb{
  @include column(3);

  @include respond-to($tablet,4){
    @include pull-none;
  }
}

#divc{
  @include column(3);
  @include pull-right(6);

  @include respond-to($tablet,4,right){
    @include pull-none;
    height:400px;
  }
}

#divd{
  @include column(3);
  
  @include respond-to($tablet,8){
    @include pull-none;
  }
}

#dive{
  @include column(3);
  @include pull-right(6);
  
  @include respond-to($tablet,12){
    height:400px;
    @include clear(both);
  }
}

/* Mobile Viewport*/
#diva,#divb,#divc,#divd,#dive{
  @include respond-to($mobile,12);
}




#divf{
  background: red;
  
  @include column(6);

  @include respond-to($tablet,8) {
     background: orange;
     content : "Medium Viewport";
  }

  @include respond-to(768,10) {
     background: blue;
     content : "Tablet Viewport";
  }

  @include respond-to($mobile,12) {
      background: gray;
      content : "Mobile Viewport";
  }
}

